# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
.venv/
env/
venv/

# dbt
target/
dbt_packages/

# Logs
logs/
*.log
*.pid
*.db

# Data files
data/air_quality.duckdb
data_ingestion/raw_data/*.json

# Environment variables
.env

# OS
.DS_Store

# Docker
*.tar
